In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [14]:
dataset=pd.read_csv('covid.csv',nrows=20000)
dataset=dataset.dropna(how='any')
df=dataset.drop(columns=['date_died','id'])
df['intubed'] = df['intubed'].replace([97],0)
df['pregnancy'] = df['pregnancy'].replace([97],0)
df['contact_other_covid'] = df['contact_other_covid'].replace([99],0)
df['icu'] = df['icu'].replace([97],0)
df[['entry_date','date_symptoms']] = df[['entry_date','date_symptoms']].apply(pd.to_datetime) 
df['C'] = (df['date_symptoms'] - df['entry_date']).dt.days
df['Days']=abs(df['C'])
df=df.drop(columns=['date_symptoms','entry_date','C'])
df['Icu']=df['icu']
df=df.drop(columns=['icu'])
df

       sex  patient_type  intubed  ...  covid_res  Days  Icu
0        2             1        0  ...          1    60    0
1        2             1        0  ...          1     2    0
2        1             2        2  ...          1   152    2
3        2             2        2  ...          1   170    2
4        1             2        2  ...          1     0    2
...    ...           ...      ...  ...        ...   ...  ...
19995    1             1        0  ...          1     1    0
19996    1             2        2  ...          1     3    2
19997    2             1        0  ...          1   122    0
19998    2             2        2  ...          1     0    2
19999    2             1        0  ...          1     7    0

[20000 rows x 20 columns]

In [15]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 0)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 15000, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=15000, p=2,
                     weights='uniform')

In [19]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 2]
 [0 0]
 [0 2]]

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred)*100)

[[2158    0    0]
 [  69    0    0]
 [ 773    0    0]]
71.93333333333334